.ship-piece{
    background-color: mediumpurple;
}
​
.ship-piece-hited{
    background-color: red;
}
​
.salvo{
    background-color: crimson;
}
#salvoFireT{
float:right;
}
#tableros{
display: -webkit-flex;
      -webkit-flex-direction: row;
}
