#errorSingup{
height:100px;
background-color: red;
}
#gameCreatedSuccess{
height:100px;
background-color: green;
}
h1{
  color: antiquewhite;
  text-align: center;
}
h2{
text-align: center;
}
#aaa{
  background-image: url(../Img/fondo1.jpg);
  font-family: "ArcadeClassic";
  font-stretch: expanded;
  }
  .table{
    opacity: 0.9;
  }
  ol{
    background-color:black;
    opacity: 0.9;
    width: 100%;
    color: whitesmoke;
    font-size: 100%;
  }
#linea{
  margin-left: 20%;
}
#person{
  border-radius: 20%;
  height: 50px;
  width: 50px;
}
#logout{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: right;
}
#createGame{
  margin: 10px auto;
  display: block;
};