.ship-piece{
    background-color: mediumpurple;
}
​
.ship-piece-hited{
    background-color: red;
}
​
.salvo{
    background-color: crimson;
}
#salvoFireT{
float:right;
}
#tableros{
display: -webkit-flex;
      -webkit-flex-direction: row;
}
body{
    background-image: url(../Img/radar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-stretch: expanded;
    }
    #playerInfo{
        text-align: center;
    }
    td,th{
        color: aliceblue;
    };
