.ship-piece{
    background-color: mediumpurple;
}
​
.ship-piece-hited{
    background-color: red;
}
​
.salvo{
    background-color: crimson;
}
#salvoFireT{
float:right;
}
#tableros{
display: -webkit-flex;
      -webkit-flex-direction: row;
}
body{
    background-image: url(../Img/radar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-stretch: expanded;
    }
    #playerInfo{
        text-align: center;
    }
    .grid-stack-item-content {
        background-repeat: no-repeat;

        cursor: -webkit-grab;
        cursor: -moz-grab;
    }

    .carrierHorizontal{
        background-image: url('../Img/ships/carrier.png');
        background-size: 85% 100%;
        background-position: center;
    }

    .carrierVertical{
        background-image: url('../Img/ships/carrier_vertical.png');
        background-size: 100% 85%;
        background-position: center;
        width: 45px !important;
    }

    .battleshipHorizontal{
        background-image: url('../Img/ships/battleship.png');
        background-size: 85% 100%;
        background-position: center;
    }

    .battleshipVertical{
        background-image: url('../Img/ships/battleship_vertical.png');
        background-size: 100% 85%;
        background-position: center;
        width: 45px !important;
    }

    .submarineHorizontal{
        background-image: url('../Img/ships/submarine.png');
        background-size: 90% 100%;
        background-position: center;
    }

    .submarineVertical{
        background-image: url('../Img/ships/submarine_vertical.png');
        background-size: 100% 90%;
        background-position: center;
        width: 45px !important;
    }

    .destroyerHorizontal{
        background-image: url('../Img/ships/destroyer.png');
        background-size: 100% 150%;
        background-position: center;
    }

    .destroyerVertical{
        background-image: url('../Img/ships/destroyer_vertical.png');
        background-size: 150% 100%;
        background-position: center;
        width: 45px !important;
    }

    .patrol_boatHorizontal{
        background-image: url('../Img/ships/patrol_boat.png');
        background-size: 100% 150%;
        background-position: center;
    }

    .patrol_boatVertical{
        background-image: url('../Img/ships/patrol_boat_vertical.png');
        background-size: 150% 100%;
        background-position: center;
        width: 45px !important;
    }



    .grid-ships{
        background-size: cover;
        border: 2px solid rgb(128,128,128);
        border-radius: 10px;
        height: 495px;
        width: 495px;
        margin: auto;
        margin-top: 10vh
    }

    #grid{
        margin: 45px 0 0 45px;
        position: absolute;
        width: 450px;

    }

    .grid-wrapper{
        display: absolute;
        display: flex;
        flex-direction: column;
    }

    .grid-row{
        display: flex;
        flex-direction: row;
    }

    .grid-cell{
        display: flex;
        box-sizing: border-box;
        width: 45px;
        height: 45px;
        border: 1.3px solid rgb(128,128,128);
        border-radius: 10px;
        vertical-align: middle;
        font-weight: bold;
        text-align: center;
        align-items: center;
    }
    .grid-cell span{

        margin: auto
    }

    .busy-cell{
        background-color: rgba(0,119,190,0.5);

    }

    .grid-row:first-child .grid-cell{
        background-color: rgba(170,169,173,0.7);
    }

    .grid-cell:first-child{
        background-color: rgba(170,169,173,0.7);
    }

    #alert-text{
        color: red;
        text-align: center;
        display: block;
    };
